spring:
  application:
    name: AirbnbProject

  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp

  devtools:
    restart:
      enabled: true

  config:
    import: optional:file:./config/application-secret.yml

server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
  error:
    whitelabel:
      enabled: false
    include-message: never
    include-binding-errors: never